In [2]:
#6.1
def birthState(key):
    d = {'Barack Hussein Obama II':'Hawaii','George Walker Bush':'Connecticut','William Jefferson Clinton':'Arkansas','George Herbert Walker Bush':'Massachussetts','Ronald Wilson Reagan':'Illinois','James Earl Carter, Jr':'Georgia'}
    return d[key]
birthState('Ronald Wilson Reagan')

'Illinois'

In [3]:
#6.2

def  rlookup(d):
    key = input('Enter phone number in the format (xxx)xxx-xx-xx: ')
    if key in d:
        return d[key]
    return 'The number you entered is not in use.'
    
pb = {'(123)456-78-90':['Anna','Karenina'],'(901)234-56-78':['Yu', 'Tsun'],'(321)908-76-54':['Hans', 'Castorp']}
rlookup(pb)

Enter phone number in the format (xxx)xxx-xx-xx: 123

'The number you entered is not in use.'

In [4]:
#6.3

def frequency(lst):
    lstSet = set(lst)
    res = {}
    for s in lstSet:
        res[s] = lst.count(s)
    return res

students = ['Cindy', 'John', 'Cindy', 'Adam', 'Adam',
'Jimmy', 'Joan', 'Cindy', 'Joan']
frequency(students)

{'Adam': 2, 'John': 1, 'Jimmy': 1, 'Cindy': 3, 'Joan': 2}

In [5]:
#6.4

def WordCount(t):
    s = set(t.split())
    for word in s:
        print('{} appears {} times.'.format(word,t.count(word)))
    
    
text = 'all animals are equal but some \nanimals are more equal than others'

WordCount(text)

all appears 1 times.
but appears 1 times.
some appears 1 times.
others appears 1 times.
than appears 1 times.
more appears 1 times.
equal appears 2 times.
animals appears 2 times.
are appears 2 times.

In [7]:
#6.5

def lookup(pb):
    fn = input('Enter the first name: ')
    ln = input('Enter the last name: ')
    return pb[tuple((fn+" "+ln).split())]

pb = {('Anna','Karenina'):'(123)456-78-90',('Yu', 'Tsun'):'(901)234-56-78',('Hans', 'Castorp'):'(321)908-76-54'}
lookup(pb)

Enter the first name: Anna
Enter the last name: Karenina

'(123)456-78-90'

In [8]:
#6.6

def sync(lst):
    res = []
    for i in range(len(lst)-1):
        res.append(lst[i]|lst[i+1])
    return res

phonebook1 = {'123-45-67', '234-56-78', '345-67-89'}
phonebook2 = {}
phonebook3 = {'345-67-89','456-78-90'}
phonebook4 = {'234-56-78', '456-78-90'}
phonebooks = [phonebook1, phonebook3, phonebook4]
sync(phonebooks)

[{'123-45-67', '234-56-78', '345-67-89', '456-78-90'},
 {'234-56-78', '345-67-89', '456-78-90'}]

In [9]:
#6.7

def encoding(s):
    print('Char  Decimal  Hex  Binary')
    for ch in s:
        print('{:4} {:8d} {:4x} {:8b}'.format(ch,ord(ch),ord(ch),ord(ch)))
    
encoding('KING')

Char  Decimal  Hex  Binary
K          75   4b  1001011
I          73   49  1001001
N          78   4e  1001110
G          71   47  1000111

In [11]:
#6,8

def char(s, e):
    print('ASCII  Char')
    for n in range(s, e+1):
        print('{:4} : {:6}'.format(n,chr(n)))

char(62, 67)

ASCII  Char
  62 : >
  63 : ?
  64 : @
  65 : A
  66 : B
  67 : C